/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f2f5;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensure the full height of the window is used */
}

/* Top navigation styles */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
}

.top-nav a {
    color: #1a73e8;
    text-decoration: none;
    font-size: 16px;
}

/* Photo container styles */
.photo-container {
    background: #fff;
    padding: 10px;
    margin-top: 5px;
    border-bottom: 1px solid #ccc;
}

.photo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-header h3,
.photo-header p {
    margin: 0;
}

.photo-content {
    display: flex;
    margin-top: 10px;
}

.photo-content img {
    width: auto;
    max-height: 33vh;
    margin-right: 20px;
}

.photo-description-container {
    flex: 1;
    overflow-y: auto;
    max-height: 33vh; /* Same as the max height of the image */
}

.photo-description {
    color: #666;
    padding: 5px;
    font-size: 14px;
    text-align: left;
}

/* Chat container styles */
.chat-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.chat-messages {
    overflow-y: scroll;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.message {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    width: calc(100% - 20px);
    max-width: 80%;
}

.assistant {
    background-color: #f0f0f0;
    align-self: flex-start;
    text-align: left;
    margin-right: auto;
}

.user {
    background-color: #9fdf9f;
    align-self: flex-end;
    text-align: right;
    margin-left: auto;
}

.sender-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.chat-input {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.chat-input textarea, .chat-input button {
    height: 40px;
    vertical-align: middle;
}

.chat-input button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.toggle-voice-btn {
    margin-right: 10px; /* Adding space between the buttons */
}

.chat-input textarea {
    flex-grow: 1;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none; /* Prevent resizing */
    overflow: hidden; /* Prevent scrollbar */
    font-size: 16px; /* Larger font size */
    padding: 10px; /* Comfortable padding */
    line-height: 1.5; /* Adequate line spacing */
}

button:disabled {
    background-color: #ccc;
}

/* Media queries */
@media (max-width: 768px) {
    .photo-content {
        flex-direction: column;
    }

    .photo-content img,
    .photo-description-container {
        max-width: 100%;
        max-height: none;
    }
}
